.hamburgesa{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1100;
    box-shadow: rgba(255, 255, 255, .5);
    transition: transform 0.8s ease-in-out;
    transform: translate(-10%);
}


.ShowMenu{
    transform: translate(-400%);
}